rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /edits/{pageId} {
      allow read, write: if true;
    }
    match /verificacion_tasks/{taskId} {
      allow read, write: if true;
    }
    match /verificacion_results/{taskId} {
      allow read, write: if true;
    }
    match /verificacion_volunteers/{volId} {
      allow read, write: if true;
    }
    match /verificacion_progress/{docId} {
      allow read, write: if true;
    }
    match /planilla/{docId} {
      allow read, write: if true;
    }
  }
}
